/* Calendar CSS */
.container .calendar
{
    margin-left: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Style the calendar buttons */
.fc-header-toolbar .fc-button
{
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    background-color: #2F4263;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px 10px;
}


.fc-header-toolbar .fc-button:hover
{
    background-color: #506B90;
    color: #fff;
}

.fc-view-container
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 15px;
}

/* Style the calendar events */
.fc-event
{
    background-color: #2F4263 ;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.fc-event:hover
{
    background-color: #506B90;
}

/*:root {*/
/*  --fc-small-font-size: .85em;*/
/*  --fc-page-bg-color: #fff;*/
/*  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);*/
/*  --fc-neutral-text-color: #808080;*/
/*  --fc-border-color: #ddd;*/

/*  --fc-button-text-color: #fff;*/
/*  --fc-button-bg-color: #2F4263; !* Updated button background color *!*/
/*  --fc-button-border-color: #2F4263; !* Updated button border color *!*/
/*  --fc-button-hover-bg-color: #1e2b37;*/
/*  --fc-button-hover-border-color: #1a252f;*/
/*  --fc-button-active-bg-color: #1a252f;*/
/*  --fc-button-active-border-color: #151e27;*/

/*  --fc-event-bg-color: #3788d8;*/
/*  --fc-event-border-color: #3788d8;*/
/*  --fc-event-text-color: #fff;*/
/*  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);*/

/*  --fc-more-link-bg-color: #d0d0d0;*/
/*  --fc-more-link-text-color: inherit;*/

/*  --fc-event-resizer-thickness: 8px;*/
/*  --fc-event-resizer-dot-total-width: 8px;*/
/*  --fc-event-resizer-dot-border-width: 1px;*/

/*  --fc-non-business-color: rgba(215, 215, 215, 0.3);*/
/*  --fc-bg-event-color: rgb(143, 223, 130);*/
/*  --fc-bg-event-opacity: 0.3;*/
/*  --fc-highlight-color: rgba(188, 232, 241, 0.3);*/
/*  --fc-today-bg-color: rgba(255, 220, 40, 0.15);*/
/*  --fc-now-indicator-color: red;*/
/*}*/