@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #fff;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #2F4263;
    padding: 6px;
    transition: .5s;
    z-index: 100;
}

.container {
    z-index: 1;
}
/* When active */
.side-bar.active {
    width: 260px;
}

.side-bar .nav-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.side-bar .nav-menu .logo{
    font-size: 25px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    font-weight: 600;
    padding: 20px;
}

/* When active */
.side-bar.active .nav-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}

.side-bar .nav-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

/* When active */
.side-bar.active .nav-menu .toggle-btn {
    left: 90%;
}

.side-bar .list{
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2) ;
}

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.side-bar .link-name {
    opacity: 0;
    pointer-events: none;
}

/* When active */
.side-bar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.075s * var(--i));
}


/* ---------------------------------------------------------------------------------------- */
/* Your calendar and the Make Appointment */
#blur.active {
    /*filter: blur(10px);*/
    pointer-events: none;
    user-select: none;
}

.buttonAndLogo {
    display: flex;
    margin-left: 140px;
    margin-top: 25px;
}

.name {
    font-size: 25px;
    font-weight: 600;
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 8px;
}

.button a {
    text-decoration: none !important;
    background-color: #2F4263;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    transition: .3s;
}

.button a:hover {
    text-decoration: none;
    background-color: #506B90;
    color: #fff;
}

.button a:visited {
    color: #fff;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 200px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 101;

}

#popup.active {
    z-index: 101;
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
    pointer-events: auto;

}

#datepicker {
  padding: 8px 12px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px;
  font-size: 14px;
  width: 200px; /* Adjust the width as needed */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  position: relative; /* Ensure relative positioning for the parent */
}
