<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boxicon link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/home_page.css') }}"
    />

    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"
    />
    {# Importing the jQuery file #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="{{ url_for('static',filename='script/calendar.js') }}"></script>
  </head>
  <body>
    <div class="side-bar">
      <div class="nav-menu">
        <p class="logo">N.A.V.I.G.A.T.E.</p>
        <!-- Getting it from boxicon -->
        <i class="bx bx-menu toggle-btn"></i>
      </div>

      <!-- Creating the list -->
      <ul class="list">
        <li class="list-item active">
          <a href="#">
            <i class="bx bxs-home"></i>
            <span class="link-name" style="--i: 1">Home</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#">
            <i class="bx bxs-user-account"></i>
            <span class="link-name" style="--i: 2">Account</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#">
            <i class="bx bxs-calendar"></i>
            <span class="link-name" style="--i: 3">Appointments</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#">
            <i class="bx bxs-chat"></i>
            <span class="link-name" style="--i: 4">Messages</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
      <h2>Your Calendar</h2>
        <div class="calendar"></div>
        <dialog>
  <button autofocus>Close</button>
  <p>This modal dialog has a groovy backdrop!</p>
</dialog>
<button class="appointmentButton">Show the dialog</button>
    </div>

    <!-- Delete after -->
    <style>
      ::backdrop {
        background-image: linear-gradient(
          45deg,
          magenta,
          rebeccapurple,
          dodgerblue,
          green
        );
        opacity: 0.75;
      }
    </style>
    <script>
      // Button
      const dialog = document.querySelector("dialog");
      const showButton = document.querySelector("dialog + button");
      const closeButton = document.querySelector("dialog button");

      // "Show the dialog" button opens the dialog modally
      showButton.addEventListener("click", () => {
        dialog.showModal();
      });

      // "Close" button closes the dialog
      closeButton.addEventListener("click", () => {
        dialog.close();
      });
    </script>
    <!-- Delete -->
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='script/home_page.js') }}"
    ></script>
  </body>
</html>
